#body-section {
  width: 30%;
  font-size: 13px;
}

.options {
  padding: 15px 0;
  margin: 2px 0;
}

.options input,
.options > #time {
  float: left;
}

.data-type-option {
  display: flow-root;
}

#save {
  color:white;
  border: 2px solid #e7916e;
  background-color: #e7916e;
  width: 50%;
}

#save:hover {
  color:white;
  border: 2px solid lightsalmon;
  background-color: lightsalmon;
} 

#time-options {
  margin-bottom:15px;
}